html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[name="password"] {
  margin-right: 10px;
  padding: 10px;
  min-width: 400px;
  font-size: 2rem;
}

.copy,
.generate {
  margin: 10px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 0.5;
  border: 0;
  outline: none;
}

.copy:hover,
.generate:hover {
  opacity: 1;
}

.copy {
  background-image: url(./copy.svg);
}
.generate {
  background-image: url(./sync.svg);
}

.params {
  margin: 30px 0;
}

.repo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  background-image: url(./GitHub-Mark-32px.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}

.repo:hover {
  opacity: 1;
}
